# Environment Variables Example
# Copy this to .env and fill in your values

MONGODB_URI=mongodb+srv://RachabandaRuchulu:RachabandaRuchulu123@rachabandaruchulu.cwif2yo.mongodb.net/?appName=RachabandaRuchulu
NODE_ENV=production
JWT_SECRET=uy66$juy&*-hsug6446_jhavduvkj8_9668^$$0VGFSUYGWV_--HJWVDTYF53^$HVEhvdtyuv78^%

# Cloudinary
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Razorpay
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

# Google Maps
GOOGLE_MAPS_API_KEY=your_google_maps_api_key

# Server Port
PORT=5000
